.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #8DC63F;
  padding: 10px;
  color: white;
}

.grid {
    width:525px;
    margin: 15px auto;
}

.row {
  clear: both;
}

.cell {
  background-color: #fff;
  border:solid 1px #555;
  line-height: 34px;
  font-weight: bold;
  padding-left:1px;
  padding-top:1px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  float:left;
  width: 34px;
  height: 34px;
  margin-left:-1px;
  margin-top:-1px;
  color:#fff;
}

.clr1 {
  background-color: #8DC63F;
  color:#fff;
}

.clr2 {
  background-color: #3498db;
  color:#fff;
}

.clr3 {
  background-color: #9b59b6;
  color:#fff;
}

.anim {
  transform: scale(2);
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
